.popup-delete-card {
  z-index: -2;
  opacity: 0;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 70%);
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.popup-delete-card.active {
  opacity: 1;
  z-index: 2;
}

.popup-delete-card .content {
  width: 100%;
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
  border-radius: 15px;
}

.popup-delete-card h3 {
  font-size: 25px;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 30px;
  line-height: 36px;
}

.popup-delete-card #btn-delete,
.popup-delete-card #btn-cancel {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  transition: all .1s linear;
}

.popup-delete-card #btn-delete {
  margin-top: 20px;
}

.popup-delete-card #btn-cancel {
  margin-top: 20px;
}

.popup-delete-card #btn-cancel:hover,
.popup-delete-card #btn-delete:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.popup-delete-card #btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  transition: all .1s linear;
  border-radius: 50%;
}

.popup-delete-card #btn-close:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(216, 216, 216);

}

.popup-delete-card #btn-close > img {
  width: 100%;
  height: 100%;
}

/* btn-close */

