.popup-delete-card #btn-delete,
.popup-delete-card #btn-cancel {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;
  transition: all .1s linear;
}

.popup-delete-card #btn-delete {
  margin-top: 20px;
}

.popup-delete-card #btn-cancel {
  margin-top: 20px;
}

.popup-delete-card #btn-cancel:hover,
.popup-delete-card #btn-delete:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
