.popup_type_edite-card {
  .content {
    max-width: 600px;
    & form {

      & h3 {
        font-size: 22px;
        padding-top: 25px;
        text-align: center;
        margin-bottom: 30px;
      }

      .box {
        display: grid;
        grid-template-columns: 200px 1fr;
        column-gap: 30px;

        .field {

          .error {
            bottom: -20px;
          }

          .error_type_srcImg {
            bottom: -40px;
          }

          &:last-of-type {
            margin-bottom: 50px;
          }

          & input {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid black;
            margin-top: 5px;
            text-overflow: ellipsis;
          }

          &.field_type_upload-file {
            display: flex;
            flex-direction: column;

            .drop-area {
              width: 200px;
              height: 200px;
              border: 4px dashed black;
              border-radius: 15px;
              padding: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin-bottom: 15px;
    
              &.highlight {
                background-color: rgba(0, 0, 0, 0.1);
              }
    
              .icon-drop-area {
                width: 50%;
                height: 50%;
              }
    
              .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
  
              #uploadFile {
                display: none;
              }
  
            }
  
            .description {
              font-size: 12px;
  
              & p, & li {
                margin-bottom: 5px;
              }
            }
          }
        }

        .btn_type_upload-file {
          padding: 5px 20px;
          background: none;
          border-radius: 20px;
          font-size: 18px;
          transition: all 0.1s linear;
          border: 1px solid black;
          margin-bottom: 10px;
        }

        .btn_type_save {
          width: 100%;
          padding: 5px 0;
          background: none;
          border: 1px solid black;
          border-radius: 20px;
          font-size: 18px;
          transition: all 0.1s linear;

          &:disabled {
            opacity: 0.2;
          }

          &:hover:enabled {
            background-color: black;
            color: white;
          }

          &:hover:disabled {
            cursor: not-allowed;
          }

        }


      }
    }
  }
}
