@import url('./create-card/create-card.css');
@import url('./edit-card/edit-card.css');
@import url('./delete-card/delete-card.css');
@import url('./drag-and-drop-img/drag-and-drop-img.css');

.popup {
  z-index: -2;
  opacity: 0;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 70%);
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
}

.popup.active {
  opacity: 1;
  z-index: 2;
}

.popup form .field-input {
  position: relative;
}


.popup form .field-input label {
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

.popup form .field-input .error {
  position: absolute;
  bottom: -20px;
  right: 5px;
  color: red;
  font-size: 12px;
}





.popup .content {
  width: 100%;
  max-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
  border-radius: 15px;
}

.popup h3 {
  font-size: 25px;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.popup input {
  font-size: 16px;
}

.popup #btn-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  transition: all .1s linear;
  border-radius: 50%;
}

.popup #btn-close:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: rgb(216, 216, 216);

}

.popup #btn-close > img {
  width: 100%;
  height: 100%;
}